.body{
    width: 100%;
}

#saida{
    color: rgb(69, 16, 191);
}

button {
    display: block;
    margin: 0 auto;
  }
  

input {
    display: block;
    position: absolute;
	top: 50%;
    position: relative;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
button {  
    display: block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
}
button:hover{
    transform: scale(1.04);
    background-color: #21e065;
}

select {
    background-color: #21e065;
    color: #fff; /* texto em branco */
    padding: 10px; /* adiciona espaçamento interno */
    border: none; /* remove borda padrão */
    border-radius: 5px; /* adiciona bordas arredondadas */
  }
  